@model List<Verkoop.CapaDatos.DTO.CompraDeClienteDTO>

@if (Model.Count() > 0)
{


    foreach (var i in Model)
    {
    <table class="table">

        <thead style="width: 1000px;">
            <tr>

                <th class="date th"><h3 class="th">@i.dtFecha</h3></th>
                <th class="th" ><h3 class="th">Precio: $@i.dPrecio</h3 ></th>
                <th></th>
                <th><button iIdCompra="@i.iIdCompra" class="-boton-estandar -margin btnImprimir">Imprimir</button> <button type="button" class="-boton- marginleft" data-toggle="collapse" data-target="#@i.iIdCompra" >↕</button></th>

            </tr>
        </thead>
    </table>

    @*<div class="collapse" id="collapseExample">*@
        <table class="table table-responsive collapse" id="@i.iIdCompra">
            <tbody @*id="demo" class="collapse"*@>
                @foreach (var e in i.ProductoComprado)
                {
                    <tr>
                        <td class="cart_product_img">
                            <a href="#"><img src="~/Assets/img/bg-img/cart1.jpg" alt="Product"></a>
                        </td>
                        <td class="cart_product_desc">
                            <h5>@e.cNombre</h5>
                        </td>
                        <td class="">
                            <span>Cantidad: @e.iCantidad</span>
                        </td>
                        <td class="price">
                            <span>Precio: $@e.dPrecio</span>
                        </td>
                    </tr>
                }
            </tbody>


        </table>
    @*</div>*@
    }
}
else
{
    <h4> No hay productos agregados al carrito </h4>
}

